<h1>Welcome to Online Dating</h1>
<a href="/auth/facebook">
    <button type="button" class="btn btn-primary btn-lg">Login With Facebook</button>
</a>
<!---
https://developers.facebook.com/apps/398884038510170/settings/basic/ is used for authentication for facebook

https://www.passportjs.org/docs/downloads/html/
npm install --save passport i used passport for authentication as well for facebook and google.

 npm install --save cookie-parser i intalled this parser to login via facebook id,

 npm install --save express-session , this one helps to keep the logger in 

 npm install passport-facebook for to authenticate fb users
-->